.home {
    &__inner {
        display: flex;
    }
}

.container {}

.home {
    &__aside {}

    &__content {}
}

.home-aside {
    height: 100vh;
    background: #3C4070;
    position: relative;
    display: flex;

    @media(max-width: 991px) {
        position: fixed;
        left: 0;
        top: 0;
        height: auto;
        z-index: 8;
        align-items: center;
        justify-content: center;

        &.home-aside--active {
            height: 100vh;
            width: 100%;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 991px) {
            background-color: #3C4070;
            width: 100%;
            height: 42px;

            position: fixed;
            top: 0;
            left: 0;

            padding: 0 15px;

            display: flex;
            align-items: center;

            z-index: 5;
        }

    }

    &__toggle {
        display: none;
        z-index: 6;

        width: 15px;
        height: 10px;

        position: relative;

        @media(max-width: 991px) {
            display: block;
        }

        &::after {
            transition: all .5s;
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 15px;
            background-color: #ffffff;

            top: 0;
        }

        &::before {
            transition: all .5s;
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 15px;
            background-color: #ffffff;

            top: 8px;
        }

        span {
            transition: all .5s;
            position: absolute;
            display: block;

            height: 2px;
            width: 15px;
            background-color: #ffffff;

            top: 4px;
        }

        &.home-aside__toggle--active {
            span {
                display: none;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }

            &::after,
            &::before {
                top: 50%;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 13px;

        @media(max-width: 991px) {
            &.home-aside__inner--active {
                display: block;
            }

        }
    }

    &__avatar {
        max-width: 186px;
        width: 100%;
        margin-bottom: 39px;

        @media(max-width: 991px) {
            display: none;
        }

        img {
            width: 100%;
            display: block;
        }
    }

    &__logo {
        margin-top: 47px;
        margin-bottom: 50px;

        @media(max-width: 991px) {
            display: none;
        }
    }

    &__home {}
}

.page-logo {}

.aside-home {


    &__menu {}
}

.home-menu {
    @media(max-width: 991px) {
        display: none;

        &.home-menu--active {
            display: block;
        }
    }

    &__list {}

    &__item {}

    &__link {}
}

.home-content {
    padding-top: 72px;
    padding-left: 147px;
    width: 100%;
    position: relative;
    margin-top: 72px;
    margin-bottom: 359px;

    @media(max-width: 991px) {
        padding-left: 0;
        margin-top: 0;
        padding-top: 42px;
        margin-bottom: 119px;
    }


    &__inner {
        padding-top: 21px;

        max-width: 643px;

        @media(max-width: 991px) {
            margin: 0 auto;
        }
    }

    &__logout {
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Nunito-Bold";
        font-style: normal;
        font-weight: bold;
        @include adaptiv-font(18, 14);
        line-height: 140%;

        @media(max-width: 991px) {
            position: relative;
        }
    }
}

.home-main {
    &__logout-link {}
}

.home-title {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: bold;
    @include adaptiv-font(48, 22);
    line-height: 75%;
}