.questions {

    &__title {
        margin-bottom: 83px;
        text-align: center;
        @media(max-width: 771px){
            margin-bottom: 41px;
        }
    }

    &__img {
        width: 274px;
        height: 274px;
        z-index: -1;

        left: 50px;
        top: -73px;
        position: absolute;

        img {
            width: 100%;
            display: block;
        }
        @media(max-width: 771px){
            display: none;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__item {}
}

.questions-item {
    background: #3C4070;
    border-radius: 7px;
    padding: 0 36px;
    max-width: 920px;
    width: 100%;

    cursor: pointer;

    margin-bottom: 43px;
    @media(max-width: 771px){
        padding: 0 15px;
    }
    &.questions-item--active {
        & .questions-item__header {
            border-color: rgba(255, 255, 255, 0.36);
        }

        & .questions-item__status {
            &::before {
                display: none;
            }
        }

        & .questions-item__body {
            height: auto;
            opacity: 1;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid transparent
    }

    &__number {
        font-style: normal;
        font-weight: 800;
        font-size: 53px;
        line-height: 171.7%;
        opacity: 0.7;
        @media(max-width: 771px){
            display: none;
        }
    }

    &__title {
        font-family: "Nunito-Bold";
        font-style: normal;
        font-weight: bold;
        @include adaptiv-font(22, 18);
        line-height: 171.7%;
        max-width: 530px;


        margin: 45px 0;
        margin-left: 26px;
        margin-right: auto;
        @media(max-width: 771px){
            margin: 9px 0 9px 0; 
        }
    }

    &__status {
        min-width: 32px;
        min-height: 32px;
        background: #202245;
        border-radius: 50%;
        margin-left: 5px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 11px;
            height: 1px;
            background-color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            height: 11px;
            width: 1px;
            background-color: #ffffff;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
        
    }

    &__body {
        display: none;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(22, 16);
        line-height: 159%;
        opacity: 0.8;

        text-align: justify;

        margin-top: 30px;
        margin-bottom: 37px;
    }
}