.scripts {
    &__title {
        margin-bottom: 115px;
        text-align: center;

        @media(max-width: 771px) {
            margin-bottom: 35px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

    }

    &__item {}
}

.scripts-item {
    flex: 0 1 100%;

    &:not(:last-child) {
        margin-bottom: 78px;

        @media(max-width: 771px) {
            margin-bottom: 40px;
        }
    }

    &__inner {
        display: flex;
    }

    &__img {
        flex: 0 1 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            display: block;
        }
    }

    &__img-1 {
        @media(max-width: 771px) {
            flex: 0 1 20%;
        }
    }

    &__img-2 {
        @media(max-width: 771px) {
            flex: 0 1 20%;
        }
    }

    &__img-3 {
        @media(max-width: 771px) {
            flex: 0 1 20%;
        }
    }

    &__content {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 15px;

        @media(max-width: 771px) {
            flex: 0 1 100%;
            justify-content: start;
        }
    }

    &__row {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 35px;

        @media(max-width: 771px) {

            margin-bottom: 7px;

        }
    }

    &__number {
        font-style: normal;
        font-weight: 900;
        @include adaptiv-font(48, 35);
        line-height: 65px;

        position: relative;
        margin-right: 20px;

        &::before {
            content: "# ";
        }
    }

    &__title {
        font-family: "Nunito-Bold";
        font-style: normal;
        font-weight: bold;
        @include adaptiv-font(28, 18);
        line-height: 38px;
        @media(max-width: 771px){
            margin-right: auto;
        }
    }

    &__list {}

    &__list-item {
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(18, 15);
        line-height: 151.7%;

        margin-bottom: 34px;
        margin-left: 30px;
        position: relative;
        text-align: justify;

        @media(max-width: 771px) {
            margin-bottom: 26px;
        }

        &::before {
            content: "\2022";
            color: red;
            font-weight: bold;
            display: inline-block;
            width: 30px;
            margin-left: -30px;
        }
    }
}