.service {
    &__title {
        margin-bottom: 94px;
        text-align: center;
        @media(max-width: 991px){
            margin-bottom: 42px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;

        @media(max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media(min-width: 771px){
            margin-bottom: 50px;
        }
    }

    &__item {}
    &__column{
        padding: 0 15px;
        flex: 0 1 33.33%;
        align-self: stretch;
        
        @media(max-width: 991px){
            flex: 0 1 50%;
            &:not(:last-child){
                margin-bottom: 48px;
            }
        }
        @media(max-width: 771px){
            flex: 0 1 100%;
            
        }
    }
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #3C4070;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 0 15px;
    height: 100%;
    position: relative;

    @media(max-width: 771px) {
        overflow: hidden;

    }

    &__title {
        margin-top: 35px;
        margin-bottom: 10px;
        @media(max-width: 771px){
            margin-top: 27px;
            margin-bottom: 5px;
        }
    }

    &__text {
        max-width: 359px;
        text-align: center;
        margin-bottom: 190px;

        @media(max-width: 479px) {
            max-width: 228px;
        }
    }

    &__img {
        position: absolute;
        bottom: -85px;
        left: 50%;
        transform: translateX(-50%);
    
        img {
            width: 100%;    
            display: block;
        }
    }

    &__img-1 {
        width: 145px;
    }

    &__img-2 {
        width: 300px;
        
    }

    &__img-3 {
        width: 270px;
    }
}